server:
  port: {{ zuul_port }}
spring:
  application:
    name: api-gateway-service

zuul:
  instance:
    preferlpAddress: {{ zuul_prefer_ipaddress }}
  routes:
  {% for item in zuul_api_routes %}
  {{ item.route_name }}:
      path: {{ item.route_path }}
      serviceId: {{ item.route_serviceid }}
  {% endfor %}     

eureka:
  client:
    service-url:
      defaultZone: {{ eureka_url }} 

logging:
  file: {{ zuul_log_file }}
