server:
  port: {{ zuul_port }}
spring:
  application:
    name: api-gateway-service
  zipkin:
      base-url: http://{{ zipkin_server }}:{{ zipkin_port }}
  cloud:
    inetutils:
       ignored-interfaces:
       {% for item in zuul_ignored_interfaces %}
         - {{ item }}
       {% endfor %}

zuul:
  routes:
  {% for item in zuul_api_routes %}
  {{ item.route_name }}:
      path: {{ item.route_path }}
      serviceId: {{ item.route_serviceid }}
  {% endfor %}     

eureka:
  instance:
    preferIpAddress: {{ zuul_prefer_ipaddress }}
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
  client:
    service-url:
      defaultZone: {{ eureka_url }} 

#logging:
#  file: {{ zuul_log_file }}
