# Increase Java Heap as needed to support concurrent
HEAP="{{ zuul_heap_option }}"

#There are GC settings, you can adjust some to make micro services working better
GC_ALGO="{{ zuul_gc_algo_option }}"

# Save memory storge snapshot, the path is /opt/e-commerce/logs/order.oomdump
DUMP="{{ zuul_dump }}"

