#{{ ansible_managed }}
user              {{ nginx_user }}  {{ nginx_group }};
worker_processes {{ nginx_worker_process_num }};

{% if nginx_pid_file %}
pid        {{ nginx_pid_file }};
{% endif %}

worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

include {{ nginx_conf_dir }}/modules-enabled/*.conf;

error_log {{ nginx_error_logfile }} {{ nginx_log_level }}; 

events {
    worker_connections  {{ nginx_max_connections }};
    multi_accept off;
    use epoll;
}

{% if nginx_extra_root_params is defined and nginx_extra_root_params is iterable %}
{% for line in nginx_extra_root_params %}
{{ line }};
{% endfor %}
{% endif %}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;
    #
    #keepalive_timeout  65;
    #
    #gzip  on;
    #
    include {{ nginx_conf_dir }}/conf.d/*.conf;
}

{% if nginx_daemon_mode == "off" %}
daemon off;
{% endif %}
