# {{ ansible_managed }}

upstream {{ item.nginx_backend_name }} {
    {% if item.nginx_balancer_config is defined %}
    {{ item.nginx_balancer_config }};
    {% endif %}
    {% for backend in item.nginx_backends %}
    server {{ backend }};
    {% endfor %}
}

server {
    listen {{ nginx_port }};
    server_name {{ item.nginx_domains|join(' ') }};
    error_log {{ nginx_error_logfile }} {{ nginx_log_level }};
    location / {
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   Host      $http_host;
        proxy_pass         http://{{ item.nginx_backend_name }};
    }
}
