spring:
  application:
    name: {{ cart_name }}
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://{{ mycat_ip }}:{{ mycat_port }}/{{ database_name }}?useUnicode=true&characterEncoding=utf-8
    username: root
    password:
  redis:
    host: {{ redis_ip }}
    port: {{ redis_port }}
    pool:
      maxActive: -1
      maxWait: -1
      maxIdle: 100
      minIdle: 0
    timeout: 100
  zipkin:
      base-url: http://{{ zipkin_server }}:{{ zipkin_port }}
  cloud:
    inetutils:
       ignored-interfaces:
       {% for item in cart_ignored_interfaces %}
         - {{ item }}
       {% endfor %}

server:
  port: {{ cart_port }}
eureka:
  instance:
    preferIpAddress: {{ cart_prefer_ipaddress }}
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
  client:
    service-url:
      defaultZone: http://{{ eureka_server }}:{{ eureka_port }}/eureka/
management:
  security:
    enabled: false

mybatis:
  config-location: classpath:mybatis-config.xml
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: com.htsat.cart.model

#logging:
#  file: /opt/e-commerce/logs/cart.log
