server:
  port: {{ zipkin_server_port }}
spring:
  application:
    name: zipkin_server
  cloud:
    inetutils:
       ignored-interfaces:
       {% for item in zipkin_ignored_interfaces %}
         - {{ item }}
       {% endfor %} 

eureka:
  instance:
    preferIpAddress: {{ zipkin_prefer_ipaddress }}
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
  client:
    service-url:
      defaultZone: {{ eureka_url }} 

#logging:
#  file: {{ zipkin_log_file }}

