spring:
  application:
    name: {{ order_name }}
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://{{ mysql_ip }}:{{ mysql_port }}/{{ database_name }}?useUnicode=true&characterEncoding=utf-8
    username: root
    password:
  redis:
    host: {{ redis_ip }}
    port: {{ redis_port }}
    pool:
      maxActive: -1
      maxWait: -1
      maxIdle: 100
      minIdle: 0
    timeout: 100

server:
  port: {{ order_port }}
eureka:
  client:
    service-url:
      defaultZone: http://{{ eureka_server }}:{{ eureka_port }}/eureka/
management:
  security:
    enabled: false

mybatis:
  config-location: classpath:mybatis-config.xml
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: com.htsat.order.model

logging:
  file: /opt/e-commerce/logs/order.log
