# Increase Java Heap as needed to support concurrent
HEAP="-Xms512m -Xmx512m"

#There are GC settings, you can adjust some to make micro services working better
GC_ALGO="-XX:+UseG1GC -XX:MaxGCPauseMillis=250 -XX:G1ReservePercent=20"

# Save memory storge snapshot, the path is /opt/e-commerce/logs/order.oomdump
DUMP="-XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/opt/e-commerce/logs-oomdump/order.oomdump"
