---
- name: Install redis on client
  hosts: NetworkClient
  remote_user: root
  roles:
    - redis

- name: Install redis on Server
  hosts: NetworkServer
  remote_user: root
  roles:
    - redis

- name: Install twemproxy on client
  hosts: TwemproxyGroup
  remote_user: root
  roles:
    - twemproxy
