# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid



[mysqld_multi]
mysqld = /usr/bin/mysqld_safe
mysqladmin =/usr/bin/mysqladmin
log =/home/mysql/mydata/log/mysqld_multi.log

[mysqld1]
socket = /usr/local/mysql1/mysql.sock
port = {{mysql1_port}}
pid-file = /usr/local/mysql1/mysqld.pid
datadir = /home/estuaryapp/mysql1/data/data1
log_bin = /home/estuaryapp/mysql1/binlog/binlog1/binlog
server-id = 1230
relay_log = /home/estuaryapp/mysql1/relay_log/relay_log1/mysql-relay-bin
log_slave_updates = 1
read_only = 0
innodb_buffer_pool_size = 1024M
innodb_lock_wait_timeout=500
innodb_flush_log_at_trx_commit = 0

[mysqld2]
socket = /usr/local/mysql2/mysql.sock
port = {{mysql2_port}}
pid-file = /usr/local/mysql2/mysqld.pid
datadir = /home/estuaryapp/mysql2/data/data2
log_bin = /home/estuaryapp/mysql2/binlog/binlog2/binlog
server-id = 2230
relay_log = /home/estuaryapp/mysql2/relay_log/relay_log2/mysql-relay-bin
log_slave_updates = 1
read_only = 0
innodb_buffer_pool_size = 1024M
innodb_lock_wait_timeout=500
innodb_flush_log_at_trx_commit = 0
