server:
  port: {{ eureka_port }}
spring:
  application:
    name: eureka-service-discovery
  cloud:
    inetutils:
       ignored-interfaces:
       {% for item in eureka_ignored_interfaces %}
         - {{ item }}
       {% endfor %}

eureka:
  instance:
    preferIpAddress: {{ eureka_prefer_ipaddress }}
    instance-id: ${spring.cloud.client.ipAddress}.${server.port}
    hostname: ${spring.cloud.client.ipAddress}
  client: 
    registerWithEureka: {{ eureka_register_myself }}
    fetchRegistry: {{ eureka_register_fetch }}
    serviceUrl:
      defaultZone: {{ eureka_url }}

logging:
  file: {{ eureka_log_file }}
