server:
  port: {{ eureka_port }}
spring:
  application:
    name: eureka-service-discovery

eureka:
  instance:
    referlpAddress: {{ eureka_prefer_ipaddress }}
  client: 
    registerWithEureka: {{ eureka_register_myself }}
    fetchRegistry: {{ eureka_register_fetch }}
    serviceUrl:
      defaultZone: {{ eureka_url }}

logging:
  file: {{ eureka_log_file }}
